/**** Global ****/
html, body {
	&.adults.parent, &.adults .woocommerce-breadcrumb { background: $grey; }
	&.childrens.parent, &.childrens .woocommerce-breadcrumb { background: $pink; }
	&.pre-teen.parent, &.pre-teen .woocommerce-breadcrumb { background: $purple; }
	&.replacement-chains.parent, &.replacement-chains .woocommerce-breadcrumb { background: $green; }
}
.woocommerce-breadcrumb {
	@include crumb-container;
	text-align: center;
	margin: 0;
	li {
		@include crumbs;
		display: inline;
		font-family: $header-font-family;
		@media #{$medium-up} {
			float: none;
		}
		&:last-child {
			cursor: $cursor-default-value;
			color: $crumb-font-color-current;
			a {
				cursor: $cursor-default-value;
				color: $crumb-font-color-current;
			}
			
			&:hover, &:hover a,
			&:focus, &:focus a { text-decoration: none; }
		}
	}
	form.searchbar {
		position: absolute;
		right: 5px;
		top: 2px;
		width: 175px;
		input {
			height: 2rem;
		}
		button {
			height: 2rem;
			padding: 0;
		}
	}
}
input[type="number"] {
	max-width: 40px;
}
.button.added {
	display: none !important;
	text-indent: -9999px !important;
	visibility: hidden !important;
}


.woocommerce-pagination {
	@include pagination-container(true);
}

.quantity.buttons_added {
	.minus, .plus {
		display: none;
	}
}

ul.products {
	@include block-grid($per-row: 2);
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 5);
	}
	@media #{$xlarge-up} {
		@include block-grid($per-row: 7);
	}
	@media #{$xxlarge-up} {
		@include block-grid($per-row: 9);
	}
}

/**** product categories ****/
body.no-sidebar ul.products {
	margin: 0 auto !important;
	max-width: $row-width  !important;
	width: 100%  !important;
	@media #{$large-up} {
		@include block-grid($per-row: 4);
	}
}

// category specific grids
body.shop.no-sidebar ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 2);
	}
}
body.adults.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
}
body.childrens.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
}
body.pre-teen.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 2);
	}
}

.product-category {
	a {
		background: $white;
		border: .5em solid $white;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		display: block;
		margin: 1rem auto;
		overflow: hidden;
		position: relative;
		@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
		text-align: center;
		img {
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			z-index: 2;
		}
		&:hover {
			box-shadow: 0px -5px 10px 0px rgba(0,0,0,.5);
			img {
				opacity: .80;
				transform: scale(1.1);
			}
		}
	}
	h4 {
		padding-top: .5em; // prevent image overlap
		position: relative;
		text-align: center;
		white-space: nowrap;
		z-index: 4;
	}
}

body.shop .product-category {
	&.adults a, &.adults h4 { background: $grey; border-color: $grey; }
	&.childrens a, &.childrens h4 { background: $pink; border-color: $pink; }
	&.pre-teen a, &.pre-teen h4 { background: $purple; border-color: $purple; }
	&.replacement-chains a, &.replacement-chains h4 { background: $green; border-color: $green; }
}


/**** products ****/
li.product {
	perspective: 600px;
	.square-thumb {
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		backface-visibility: hidden;
		border: 2px solid $tan;
		overflow: hidden;
		@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
		transform-origin: bottom;
	}
	&:hover .square-thumb {
		box-shadow: 0px -10px 10px -10px rgba(0,0,0,.5);
		transform: rotateX(-20deg);
		-webkit-transform: rotateX(-20deg);
	}
	h5 {
		backface-visibility: hidden;
		color: $white;
		display: inline-block;
		height: 100%;
		margin-bottom: 0;
		@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
		text-align: center;
		width: 100%;
	}
	.product-info {
		background-color: $tan;
		border-bottom: 1px solid $white;
		overflow: hidden;
		position: relative;
		a {
			backface-visibility: hidden;
			display: block;
			height: 2rem;
			overflow: hidden;
			position: relative;
			&::before {
				color: $white;
				content: $fa-var-search;
				font-family: FontAwesome;
				height: 100%;
				@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
				left: 0;
				position: absolute;
				text-align: center;
				bottom: -100%;
				width: 100%;
			}
			&:hover {
				h5 {
					transform: translateY(-300%);	
				}
				&::before {
					bottom: 0;	
				}
			}
		}
	}
	a.square-thumb {
		&:hover {
			&~.product-info h5 {
				transform: translateY(-300%);
			}
			&~.product-info a::before {
				bottom: 0;	
			}
		}
	}
	span.price {
		display: none;
	}
	.add_to_cart_button {
		backface-visibility: hidden;
		background: $secondary-color;
		color: $white;
		display: block;
		height: 2rem;
		overflow: hidden;
		position: relative;
		&.added {
			display: none;
		}
		&:active {
			background: scale-color($success-color, $lightness: -20%);
			top: 2px;
		}
		&::before {
			color: $white;
			content: $fa-var-shopping-cart;
			font-family: FontAwesome;
			height: 100%;
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			left: 0;
			position: absolute;
			text-align: center;
			top: -100%;
			width: 100%;
		}
		&:active::before {
			color: scale-color($success-color, $lightness: -60%);
		}
		&:hover {
			h5 {
				transform: translateY(300%);	
			}
			&::before {
				top: 0;	
			}
		}
	}
	.added_to_cart {
		backface-visibility: hidden;
		background: $success-color;
		color: $white;
		display: block;
		height: 2rem;
		overflow: hidden;
		position: relative;
		text-transform: uppercase;
		&::after {
			color: $white;
			content: $fa-var-long-arrow-right;
			font-family: FontAwesome;
			margin-left: .25rem;
			opacity: 0;
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			top: 0;
		}
		&:hover::after {
			margin-left: 1rem;
			opacity: 1;
		}
	}
}


li.product.product_cat-adults {
	.square-thumb {
		border: 2px solid $grey;
	}
	.product-info, .add_to_cart_button {
		background: $grey;
	}
}
li.product.product_cat-childrens {
	.square-thumb {
		border: 2px solid $pink;
	}
	.product-info, .add_to_cart_button {
		background: $pink;
	}
}
li.product.product_cat-pre-teen {
	.square-thumb {
		border: 2px solid $purple;
	}
	.product-info, .add_to_cart_button {
		background: $purple;
	}
}
li.product.product_cat-replacement-chains {
	.square-thumb {
		border: 2px solid $green;
	}
	.product-info, .add_to_cart_button {
		background: $green;
	}
}

.product-list, .products {
	li {
		text-align: center
	}
}

.thumbnails {
	margin-top: 1rem;
}

.upsells {
	margin-top: 1rem;
}

.upsells .products {
	@media #{$medium-up} {
		@include block-grid(2);
	}
}

/***** single-product ****/
form.cart  {
	.quantity {
		float: left;
		input {
			padding-left: 1rem;
			padding-right: 1rem;
			max-width: 4rem;
		}
	}
	.single_add_to_cart_button {
		@include button-size($padding:$button-tny);
	}
	h4 {
		clear: both;	
	}
}

.thumbnails {
	margin-top: 1rem;
}

/***** Cart *****/
.cart {
	.actions {
		text-align: right;
	}
}

/***** Checkout *****/
#ship-to-different-address-checkbox {
	margin-bottom: 0;
}

// Special case - hide payment options
.checkout #payment {
	@include hide;
}

.checkout .order-total {
	@include hide;
}

.checkout #shipping_method {
	@include unstyled;
	margin-top: 1rem;
	padding-left: 1rem;
}

/***** Widgets *****/
.widget_attribute_filters {
	dl {
		border: 1px solid $secondary-color;
	}
	dt {
		background: $secondary-color;
		margin: 0;
		padding: .5em;
		h5 {
			cursor: pointer;
			margin: 0;
		}
		h5::after {
			content: $fa-var-chevron-down;
			float: right;
			font-family: FontAwesome;
			padding-left:  1rem;
		}
		&.collapse h5::after {
			content: $fa-var-chevron-right;
		}
	}
	dd {
		line-height: 1.2;
		margin: .5rem 0;
		a {
			text-align: left;
			&::before {
				font-family: FontAwesome;
				content: $fa-var-square-o;
				padding-left:  .5rem;
				padding-right: 1rem;
			}
		}
		.count {
			display: none;
		}
		&.filtered a {
			opacity: .75;
			&::before {
				content: $fa-var-check-square-o;
			}
		}
	}
}

/**** Store Notices ****/
.alert-box {
	
	i {
		margin-right: 1rem;	
	}
}