/**** Global ****/
html, body {
	&.adult.parent, &.adult .woocommerce-breadcrumb { background: $grey; }
	&.children.parent, &.children .woocommerce-breadcrumb { background: $pink; }
	&.pre-teen.parent, &.pre-teen .woocommerce-breadcrumb { background: $purple; }
	&.replacement-chains.parent, &.replacement-chains .woocommerce-breadcrumb { background: $green; }
	&.cape-cod-jewelry.parent, &.cape-cod-jewelry .woocommerce-breadcrumb { background: $blue; }
	&.convertible-collection.parent, &.convertible-collection .woocommerce-breadcrumb { background: $yellow; }
}

body.shop .product-category {
	&.adult a { background: $grey; border-color: $grey; }
	&.children a { background: $pink; border-color: $pink; }
	&.pre-teen a { background: $purple; border-color: $purple; }
	&.replacement-chains a { background: $green; border-color: $green; }
	&.cape-cod-jewelry a { background: $blue; border-color: $blue; }
	&.convertible-collection a { background: $yellow; border-color: $yellow; }
}

li.product.product_cat-adult {
	.square-thumb {
		border: 2px solid $grey;
	}
	.product-info, .add_to_cart_button {
		background: $grey;
	}
}
li.product.product_cat-children {
	.square-thumb {
		border: 2px solid $pink;
	}
	.product-info, .add_to_cart_button {
		background: $pink;
	}
}
li.product.product_cat-pre-teen {
	.square-thumb {
		border: 2px solid $purple;
	}
	.product-info, .add_to_cart_button {
		background: $purple;
	}
}
li.product.product_cat-replacement-chains {
	.square-thumb {
		border: 2px solid $green;
	}
	.product-info, .add_to_cart_button {
		background: $green;
	}
}
li.product.product_cat-cape-cod-jewelry {
	.square-thumb {
		border: 2px solid $blue;
	}
	.product-info, .add_to_cart_button {
		background: $blue;
	}
}
li.product.product_cat-convertible-collection {
	.square-thumb {
		border: 2px solid $yellow;
	}
	.product-info, .add_to_cart_button {
		background: $yellow;
	}
}

.woocommerce-breadcrumb {
	@include crumb-container;
	text-align: center;
	margin: 0;
	li {
		@include crumbs;
		display: inline;
		font-family: $header-font-family;
		@media #{$medium-up} {
			float: none;
		}
		&:last-child {
			cursor: $cursor-default-value;
			color: $crumb-font-color-current;
			a {
				cursor: $cursor-default-value;
				color: $crumb-font-color-current;
			}

			&:hover, &:hover a,
			&:focus, &:focus a { text-decoration: none; }
		}
	}
	form.searchbar {
		position: absolute;
		right: 5px;
		top: 2px;
		width: 175px;
		input {
			height: 2rem;
		}
		button {
			height: 2rem;
			padding: 0;
		}
	}
}
input[type="number"] {
	max-width: 4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.button.added {
	display: none !important;
	text-indent: -9999px !important;
	visibility: hidden !important;
}

.woocommerce-pagination {
	@include pagination-container(true);
}

.quantity.buttons_added {
	.minus, .plus {
		display: none;
	}
}

ul.products {
	@include block-grid($per-row: 2);
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 5);
	}
	@media #{$xlarge-up} {
		@include block-grid($per-row: 7);
	}
	@media #{$xxlarge-up} {
		@include block-grid($per-row: 9);
	}
}

.cross-sells > h2 {
	font-size: $h4-font-size;
}

/**** product categories ****/
body.no-sidebar ul.products {
	margin: 0 auto !important;
	max-width: $row-width  !important;
	width: 100%  !important;
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 6);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 8);
	}
}

// category specific grids
body.shop.no-sidebar ul.products, body.pre-teen.parent ul.products, body.cape-cod-jewelry.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 2);
	}
}
body.convertible-collection.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 3);
	}
}
body.adult.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
}
body.children.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 5);
	}
}
body.search.shop.no-sidebar ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 9);
	}
}

.product-category {
	a {
		background: $white;
		border: .5em solid $white;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		display: block;
		margin: 1rem auto;
		overflow: hidden;
		position: relative;
		@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
		text-align: center;
		img {
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			z-index: 2;
		}
		&:hover {
			box-shadow: 0px -5px 10px 0px rgba(0,0,0,.5);
			img {
				opacity: .80;
				transform: scale(1.1);
			}
		}
	}
	.woocommerce-loop-category__title {
		background: inherit;
		border: inherit;
		font-size: $h5-font-size;
		padding-top: .5em; // prevent image overlap
		position: relative;
		text-align: center;
		white-space: nowrap;
		z-index: 4;
	}
}


/**** products ****/
li.product {
	perspective: 600px;
	.square-thumb {
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		backface-visibility: hidden;
		border: 2px solid $tan;
		overflow: hidden;
		transition: box-shadow .2s, transform .3s, background .5s, background-size .1s;
		transform-origin: bottom;
	}
	&:hover .square-thumb {
		box-shadow: 0px -10px 10px -10px rgba(0,0,0,.5);
		transform: rotateX(-20deg);
		-webkit-transform: rotateX(-20deg);
	}
	.woocommerce-loop-product__title, .woocommerce-loop-product__buy {
		backface-visibility: hidden;
		color: $primary-color;
		display: inline-block;
		font-size: $h5-font-size;
		height: 100%;
		margin-bottom: 0;
		@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
		text-align: center;
		width: 100%;
	}
	.product-info {
		background-color: $tan;
		border-bottom: 1px solid $white;
		overflow: hidden;
		position: relative;
		a {
			backface-visibility: hidden;
			display: block;
			height: 2rem;
			overflow: hidden;
			position: relative;
			&::before {
				color: $primary-color;
				content: 'VIEW DETAILS';
				height: 100%;
				@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
				left: 0;
				position: absolute;
				text-align: center;
				bottom: -100%;
				width: 100%;
			}
			&:hover {
				.woocommerce-loop-product__title {
					transform: translateY(-300%);
				}
				&::before {
					bottom: -2px;
				}
			}
		}
	}
	.woocommerce-LoopProduct-link:hover {
		&~.product-info .woocommerce-loop-product__title {
			transform: translateY(-300%);
		}
		&~.product-info a::before {
			bottom: 0;
		}
	}
	span.price {
		display: none;
	}
	a.product_type_grouped {
		display: none;
	}
	.add_to_cart_button {
		backface-visibility: hidden;
		background: $secondary-color;
		color: $white;
		display: block;
		height: 2rem;
		overflow: hidden;
		padding: 0; //remove padding from .button
		position: relative;
		&.added {
			display: none;
		}
		&:active {
			background: scale-color($success-color, $lightness: -20%);
			top: 2px;
		}
		&::before {
			color: $white;
			content: $fa-var-shopping-cart;
			font-family: FontAwesome;
			height: 100%;
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			left: 0;
			position: absolute;
			text-align: center;
			top: -100%;
			width: 100%;
		}
		&:active::before {
			color: scale-color($success-color, $lightness: -60%);
		}
		&:hover {
			.woocommerce-loop-product__buy {
				transform: translateY(300%);
			}
			&::before {
				top: 0;
			}
		}
	}
	.added_to_cart {
		backface-visibility: hidden;
		background: $success-color;
		color: $white;
		display: block;
		height: 2rem;
		overflow: hidden;
		position: relative;
		text-transform: uppercase;
		&::after {
			color: $white;
			content: $fa-var-long-arrow-right;
			font-family: FontAwesome;
			margin-left: .25rem;
			opacity: 0;
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			top: 0;
		}
		&:hover::after {
			margin-left: 1rem;
			opacity: 1;
		}
	}
}

.product-list, .products {
	li {
		text-align: center
	}
}

.upsells {
	@include grid-column($columns: 12);
	margin-top: 1rem;
}

.upsells ul.products { }

/***** single-product ****/
body.single-product {
	.product {
		@include grid-row();
	}
	.summary {
		@include grid-column($columns:12);
		@media #{$medium-up} {
			@include grid-column($columns:6, $push:6);
		}
	}
}

.woocommerce-product-gallery__image {
	@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
	align-items: center;
	display: flex;
	margin-bottom: 1rem;
	min-height: 300px;
	> a {
		margin: 0 auto;

	}
}
.no-flexboxlegacy .woocommerce-product-gallery__image, .noflexbox .woocommerce-product-gallery__image {
	display: block; // IE Fallback
}

.woocommerce-product-gallery__thumbnail a.active {
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	opacity: .5;
}
form.cart  {
	@include grid-row();
	.quantity {
		label {
			float: left;
			margin-right: 1em;
			padding-top: .5em;
		}
		.qty {
			float: left;
		}
	}
	.button {
		@include button-size($padding: $button-tny);
		float: left;
	}
}

.cross-sells {
	clear: both;
}

/***** Cart *****/
.shop_table .actions {
	text-align: right;
}

// fix img inside table
table.cart {
	tr.cart_item {
		height: 120px;
	}
	td.product-thumbnail {
		width: 80px;
		text-align: center;
		img {
			max-height: 120px;
		}
	}
}

.woocommerce-cart-form__contents .actions {
	width: 100%;
	.checkout-button, .update-cart-button, .empty-cart-button, .downloads, input[name="update_cart"] {
		color: $white;
		@include button($padding: $button-sml);
		margin: 1rem;
		position: relative;
		&::before {
			color: $white;
			content: $fa-var-shopping-cart;
			font-family: FontAwesome;
			height: 100%;
			margin-right: .5rem;
			opacity: 1;
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			width: 1rem;
		}
		&::after {
			color: $white;
			content: $fa-var-long-arrow-right;
			font-family: FontAwesome;
			height: 100%;
			margin-left: -.5rem;
			opacity: 0;
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			width: 1rem;
		}
		&:hover {
			&::before {
				margin-right: -.5rem;
				opacity: 0;
			}
			&::after {
				margin-left: .5rem;
				opacity: 1;
			}
		}
	}

	// Empty Cart Button
	// TODO: figure out how to replace input element with something that supports ::before and ::after
	input[name="update_cart"] {
		float: left;
		&::before {
			content: $fa-var-trash;
		}
		&::after {
			content: $fa-var-warning;
		}
	}

	// Downloads button
	.downloads {
		float: left;
		&::before {
			content: $fa-var-photo;
		}
		&::after {
			content: $fa-var-cloud-download;
		}
	}

	// Update Cart Button
	.update-cart-button, input[name="update_cart"] {
		&::before, &::after {
			content: $fa-var-refresh;
		}
		&:hover::after {
			content: $fa-var-refresh;
			-webkit-animation: spin .75s 2 linear;
			-moz-animation: spin .75s 2 linear;
			-ms-animation: spin .75s 2 linear;
			-o-transition: rotate(3600deg);
		}
	}

	// Checkout Button
	.checkout-button {
		float: right;
	}
}

/***** Checkout *****/
.woocommerce-billing-fields, .woocommerce-shipping-fields, .woocommerce-additional-fields, .woocommerce-checkout-review-order {
	@include grid-column( $columns: 4);
	// @media #{$medium-up} {
	// 	@include grid-column($columns:6);
	// }
	// @media #{$large-up} {
	// 	@include grid-column($columns:4);
	// }
}
.woocommerce-billing-fields {
	// display: none;
}
#ship-to-different-address-checkbox {
	margin-bottom: 0;
}

// Special case - hide payment options
.checkout #payment .payment_methods {
	@include hide;
}

.checkout .order-total {
	@include hide;
}

.checkout #shipping_method {
	@include unstyled;
	margin-top: 1rem;
	padding-left: 1rem;
}

/***** Widgets *****/
.widget_attribute_filters {
	.clear-filters {
		@include button($padding:$button-tny, $bg:$secondary-color, $radius:0);
		background: $secondary-color;
		color: $white;
		font-family: $header-font-family;
		text-transform: uppercase;
		width: 100%;
	}
	dl {
		border: 1px solid $secondary-color;
	}
	dt {
		background: $secondary-color;
		margin: 0;
		padding: .5em;
		h5 {
			cursor: pointer;
			margin: 0;
		}
		h5::after {
			content: $fa-var-chevron-down;
			float: right;
			font-family: FontAwesome;
			padding-left:  1rem;
		}
		&.collapse h5::after {
			content: $fa-var-chevron-right;
		}
	}
	dd {
		line-height: 1.2;
		margin: .5rem 0;
		a {
			color: $white;
			@media #{$medium-up} {
				color: $primary-color;
			}
			text-align: left;
			&::before {
				content: $fa-var-square-o;
				font-family: FontAwesome;
				padding-left:  .5rem;
				padding-right: 1rem;
			}
		}
		.count {
			display: none;
		}
		&.chosen a {
			opacity: .75;
			&::before {
				content: $fa-var-check-square-o;
			}
		}
	}
}

/**** Store Notices ****/
.woocommerce-message {
	@include alert-base;
	@include alert-style($success-color);
	color: $white;
	font-size: $h5-font-size;
	line-height: 3rem;
	overflow: hidden;
	padding: 0;
	text-align: center;
	a.button {
		background: rgba(255,255,255,.2);
		height: auto;
		margin: 0;
		&:hover {
			background: rgba(0,0,0,.1);
		}
		&.wc-backward {
			float: left;
			padding-left: 1rem;
			&::before {
				content: $fa-var-chevron-left;
				font-family: FontAwesome;
				padding-right:  1rem;
			}
		}
		&.wc-forward {
			float: right;
			padding-right: 1rem;
			&::after {
				content: $fa-var-chevron-right;
				font-family: FontAwesome;
				padding-left:  1rem;
			}
		}
	}
}

.woocommerce-message.notice {
	@include alert-style($info-color);
}

/**** Account ****/
.shop_table_responsive {
	margin: 0 auto;
	td {
		white-space: nowrap;
		width: 1px;
	}
}
.button.view, .button.order-again {
	padding: $button-tny;
	margin-right: 1rem;
}
.reorder-item {
	float: left;
	margin-right: 1rem;
}

.requestImages {
	@include button-icon();
	&::after {
		content: $fa-var-file-image-o;
	}
}
.requestImages.submitting {
	&::after {
		content: $fa-var-spinner;
		-webkit-animation: fa-spin 1s infinite steps(8);
	          animation: fa-spin 1s infinite steps(8);
	}
}
.requestImages.success {
	&::after {
		content: $fa-var-check-circle;
	}
}

// Engraving
////////////
.engraving_container {
	display: block;
	float: left;
	position: relative;
}
.engraving_locket {
	display: block;
}
.engraving_text {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	width: 200px;
	position: absolute;
}
.engraving_display {
	color: rgba(155,155,155,.5);
	font-size: 28px;
	line-height: 1;
	opacity: .6;
	position: absolute;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(0,0,0,.9), -1px 1px 0px rgba(255,255,255,.9);
	white-space: pre;
}
.engraving_options {
	float: left;
	margin-left: 3rem;
	margin-top: 2rem;
}
.font1 {
	font-family: cursive;
}
.font2 {
	font-family: monospace;
}
.font3 {
	font-family: sans-serif;
}

////// Image Request Page ////////
html body.page-template-page-image-request.with-sidebar {
	#main {
		@media #{$medium-up} {
			@include grid-column(12, $push:0, $float: left);
			@include grid-column(12, $push:0, $float: left);
			padding-bottom: 20px;
			padding-right: 2rem;
		}
		@media #{$large-up} {
			@include grid-column(12, $push:0, $float: left);
			padding-right: 2rem;
		}
	}
}

li.imageRequestItem {
	perspective: 600px;
	.square-thumb {
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
		backface-visibility: hidden;
		border: 2px solid $tan;
		overflow: hidden;
		transition: box-shadow .2s, transform .3s, background .5s, background-size .1s;
		transform-origin: bottom;
	}
	&:hover .square-thumb {
		box-shadow: 0px -10px 10px -10px rgba(0,0,0,.5);
		transform: rotateX(-20deg);
		-webkit-transform: rotateX(-20deg);
	}
	.woocommerce-loop-product__title, .woocommerce-loop-product__buy {
		backface-visibility: hidden;
		color: $primary-color;
		display: inline-block;
		font-size: $h5-font-size;
		height: 100%;
		margin-bottom: 0;
		text-align: center;
		width: 100%;
	}
	.product-info {
		background-color: $grey;
		border-bottom: 1px solid $white;
		overflow: hidden;
		position: relative;
		a {
			backface-visibility: hidden;
			display: block;
			height: 2rem;
			overflow: hidden;
			position: relative;
		}
	}
}

.imageRequestItem.selected {
	opacity: .75;
	.product-info {
		background-color: $success-color;
	}
}

.requestImagesForm ul.products {
	@include block-grid($per-row: 4);
	@media #{$medium-up} {
		@include block-grid($per-row: 6);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 8);
	}
	@media #{$xlarge-up} {
		@include block-grid($per-row: 11);
	}
	@media #{$xxlarge-up} {
		@include block-grid($per-row: 14);
	}
}
