/**** Global ****/
html, body {
	&.adults.parent, &.adults .woocommerce-breadcrumb { background: $grey; }
	&.childrens.parent, &.childrens .woocommerce-breadcrumb { background: $pink; }
	&.pre-teen.parent, &.pre-teen .woocommerce-breadcrumb { background: $purple; }
	&.replacement-chains.parent, &.replacement-chains .woocommerce-breadcrumb { background: $green; }
}
.woocommerce-breadcrumb {
	@include crumb-container;
	text-align: center;
	margin: 0 0 1rem;
	position: relative;
	li {
		@include crumbs;
		display: inline;
		font-family: $header-font-family;
		@media #{$medium-up} {
			float: none;
		}
		&:last-child {
			cursor: $cursor-default-value;
			color: $crumb-font-color-current;
			a {
				cursor: $cursor-default-value;
				color: $crumb-font-color-current;
			}
			
			&:hover, &:hover a,
			&:focus, &:focus a { text-decoration: none; }
		}
	}
	form.searchbar {
		position: absolute;
		right: 5px;
		top: 2px;
		width: 175px;
		input {
			height: 2rem;
		}
		button {
			height: 2rem;
			padding: 0;
		}
	}
}
input[type="number"] {
	max-width: 40px;
}
.button.added {
	display: none !important;
	text-indent: -9999px !important;
	visibility: hidden !important;
}


.woocommerce-pagination {
	@include pagination-container(true);
}

.quantity.buttons_added {
	.minus, .plus {
		display: none;
	}
}

ul.products {
	@include block-grid($per-row: 2);
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
	@media #{$large-up} {
		@include block-grid($per-row: 5);
	}
	@media #{$xlarge-up} {
		@include block-grid($per-row: 7);
	}
	@media #{$xxlarge-up} {
		@include block-grid($per-row: 9);
	}
}

/**** product categories ****/
body.no-sidebar ul.products {
	margin: 0 auto !important;
	max-width: $row-width  !important;
	width: 100%  !important;
	@media #{$large-up} {
		@include block-grid($per-row: 4);
	}
}

// category specific grids
body.shop.no-sidebar ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 2);
	}
}
body.adults.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
}
body.childrens.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 4);
	}
}
body.pre-teen.parent ul.products {
	@media #{$medium-up} {
		@include block-grid($per-row: 2);
	}
}

.product-category {
	a {
		background: $white;
		border: .5em solid $white;
		display: block;
		margin: 1rem auto;
		overflow: hidden;
		position: relative;
		text-align: center;
		img {
			@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
			z-index: 2;
		}
		&:hover {
			img {
				opacity: .80;
				transform: scale(1.1);
			}
		}
	}
	h4 {
		margin-top: .25em; // prevent image overlap
		position: relative;
		text-align: center;
		z-index: 4;
	}
}

body.shop .product-category {
	&.adults a { background: $grey; border-color: $grey; }
	&.childrens a { background: $pink; border-color: $pink; }
	&.pre-teen a{  background: $purple; border-color: $purple; }
	&.replacement-chains a { background: $green; border-color: $green; }
}


/**** products ****/
li.product {
	color: $primary-color;
	position: relative;
	.square-thumb {
		border: 2px solid $tan;
		@include single-transition($property:all, $speed:200ms, $ease:ease-in-out);
		overflow: hidden;
		&:hover {
			background-size: 150%;
			opacity: .80;
		}
	}
	.product-info {
		background-color: $tan;
		overflow: auto;
	}
	h5 {
		border-bottom: 1px solid $white;
		margin-bottom: 0;
		text-align: center;
	}
	span.price {
		float: left;
		margin-left: 1rem;
	}
	.add_to_cart_button, .added_to_cart {
		background: none;
		display: inline;
		font-size: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 22px;
		right: 2px;
		&::after {
			color: $primary-color;
			content: $fa-var-shopping-cart;
			font-size: 1rem;
			font-family: FontAwesome;
			margin-right: 1rem;
		}
	}
	&.added, &.added::after {
		display: none;
	}
	.added_to_cart::after {
		color: $success-color;
		content: $fa-var-bookmark;
	}
}
li.product.product_cat-adults {
	.square-thumb {
		border: 2px solid $grey;
	}
	.product-info {
		background: $grey;
	}
}
li.product.product_cat-childrens {
	.square-thumb {
		border: 2px solid $pink;
	}
	.product-info {
		background: $pink;
	}
}
li.product.product_cat-pre-teen {
	.square-thumb {
		border: 2px solid $purple;
	}
	.product-info {
		background: $purple;
	}
}
li.product.product_cat-replacement-chains {
	.square-thumb {
		border: 2px solid $green;
	}
	.product-info {
		background: $green;
	}
}

.product-list, .products {
	li {
		text-align: center
	}
}

.thumbnails {
	margin-top: 1rem;
}

// Quadruple upsell size because parent is going to be 1/4 the size
.upsells .products {
	@media #{$medium-up} {
		@include block-grid(2);
	}
}

/***** single-product ****/
form.cart  {
	@include grid-row;
	.quantity {
		@include grid-column(8);
	}
	.single_add_to_cart_button {
		@include button-size($padding:$button-tny);
		@include grid-column(4);
	}
}
/***** Cart *****/
.cart {
	.actions {
		text-align: right;
	}
}

/***** Checkout *****/
#ship-to-different-address-checkbox {
	margin-bottom: 0;
}

// Special case - hide payment options
.checkout #payment {
	@include hide;
}

.checkout .order-total {
	@include hide;
}

.checkout #shipping_method {
	@include unstyled;
	margin-top: 1rem;
	padding-left: 1rem;
}

/***** Widgets *****/
.widget_attribute_filters {
	dl {
		border: 1px solid $secondary-color;
	}
	dt {
		background: $secondary-color;
		margin: 0;
		padding: .5em;
		h5 {
			cursor: pointer;
			margin: 0;
		}
		h5::after {
			content: $fa-var-chevron-down;
			float: right;
			font-family: FontAwesome;
			padding-left:  1rem;
		}
		&.collapse h5::after {
			content: $fa-var-chevron-right;
		}
	}
	dd {
		line-height: 1.2;
		margin: .5rem 0;
		a {
			text-align: left;
			&::before {
				font-family: FontAwesome;
				content: $fa-var-square-o;
				padding-left:  .5rem;
				padding-right: 1rem;
			}
		}
		.count {
			display: none;
		}
		&.filtered a {
			opacity: .75;
			&::before {
				content: $fa-var-check-square-o;
			}
		}
	}
}