// Stylesheet for the login and register pages

@import "settings";

@import "fonts";

$include-html-classes: false;

// Import Foundation
@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation";

html, body {
	background-color: $secondary-color;
	#login {
		h1 a {
			background-image: url(../img/logo.png);
			background-position: top;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
		}
		#loginform, #registerform {
			padding: 1rem;
			p {
				label {}
			}
			input {}
			input#user_login {}
			input#user_pass {}
			p.forgetmenot {
				float: right;
				input#rememberme {
					float: right;
					margin-left: .75rem;
				}
			}
			p.submit {
				clear: both;
				width: 100%;
				input#wp-submit {
					@include button($bg: $success-color, $padding: $button-med, $radius: $button-radius, $full-width: true);
					@include single-transition(background-color);
					background-image: none;
					height: auto;
					margin-bottom: 0;
				}
			}
		}
		#nav {display: none;}
		#nav, #backtoblog {
			color: $primary-color;
			margin: 10px;
			text-align: center;
			width: 100%;
			a {
				color: $primary-color;
				&:hover {
					color: $white;
				}
			}
		}
		#login_error {
			display: none;
		}
	}
}