// Main Stylesheet
// If inline.css exists, this will be deferred until after the page has loaded

@import "settings";
@import "fonts";
@import "mixins";

// Import Foundation
@import "../../bower_components/foundation/scss/normalize";
@import "../../bower_components/foundation/scss/foundation";

// Import Slick-Carousel
$slick-font-path: "../fonts/";
$slick-loader-path: "../img/";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "../../bower_components/slick-carousel/slick/slick-theme.scss";

// Import Sass-Burger
$burger-height: 0 !default; // Include this because node-sass hasn't updated libsass
$burger-gutter: 0 !default; // Include this because node-sass hasn't updated libsass
@import "../../bower_components/sass-burger/burger";

// Import FontAwesome
$fa-font-path: "../fonts"; // Final dir of fonts
$fa-css-prefix: icon;
@import "../../bower_components/fontawesome/scss/font-awesome";
i, [class*="icon-"] {	@include fa-icon(); }

// Import WooCommerce
@import "../../woocommerce/woocommerce";

// Import Custom Subdomain CSS
@import "subdomain";


// Base Styles
* {
	outline: none;
}
a:hover i {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
	text-transform: uppercase;
}

p, .entry-summary, .entry-content, .widget, .comment > section {
	font-family: $paragraph-font-family;
	font-weight: $paragraph-font-weight;
	font-size: $paragraph-font-size;
	line-height: $paragraph-line-height;
	text-rendering: $paragraph-text-rendering;
	ol, ul {
		padding-left: 1em;
	}
}

hr {
	border-bottom: 2px solid rgba(255,255,255, .1);
	border-top: 2px solid rgba(0,0,0, .1);
	margin-top: 1em;
	margin-bottom: 1em;
	color: $body-font-color;
	@include clearfix;
}

del {
	opacity: .5;
}

.alignleft { float:left; margin-right: 1em; }
.alignright { float:right; margin-left: 1em; }
.aligncenter, .center { margin: 0 auto; }
.alignnone { float: none; }

.unstyled {
	@include unstyled;
}

.text-left * {
	text-align: left;
}
.text-right * {
	text-align: right;
}
.text-center * {
	text-align: center;
}

button, .button, input[type="submit"], a {
	cursor: pointer;
}
mark {
	background-color: inherit;
	font-weight: bold;
}

.full {
	width: 100%;
}

@media #{$medium-up} {
	@for $i from 2 through 5 {
		.column-#{$i} {
			column-count: $i;
			column-gap: 1rem;
			li {
				margin-left: 1rem;
			}
			* {
				break-inside: avoid;
			}
		}
	}
}

// centered-square thumbnails with img source set to background-image: url(...);
.square-thumb {
	background-color: #fff;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	height: 0;
	padding-bottom: 100%;
	text-align: center;
	width: 100%;
}
figure {
	margin: .5rem;
}

// Body
///////
html, body {
	background: $body-bg;
}

// Header
/////////
#header {
	background-color: $primary-color;
	overflow: hidden;
	min-height: 220px;
	padding: 1rem auto;
	text-align: center;
	width: 100%;
	a, a:visited, a:hover {  }
	figure {
		margin: 50px auto;
		max-width: 55%;
		height: auto;
		padding: 1rem;
		text-align: center;
		a {
			border: 0;
			outline: 0;
			text-decoration: none;
		}
		img {
			margin: 0 auto;
		}
	}
	h1 { }
	h2 { }
	figure.logo + h1, figure.logo ~ h2 {
		@include hide;
	}
}

.logo.large {
	@media #{$medium-only} {
		transform: scale(.75);
	}
}

.logo.kiddiekraft, .logo.steppingstones, .logo.locketstudio, .logo.lestage, .logo.convertible, .logo.cape-cod {
	position: absolute;
	z-index: 44;
	@media #{$small-only} {
		@include hide;
	}
}

.logo.kiddiekraft {
	left: 5px;
	top: 10px;
}

.logo.steppingstones {
	left: 18px;
	top: 70px;
}

.logo.locketstudio {
	left: 30px;
	top: 137px;
}

.logo.lestage {
	right: 17px;
	top: 5px;
}

.logo.convertible {
	right: 20px;
	top: 70px;
}

.logo.cape-cod {
	right: 7px;
	top: 130px;
}

// Menu/Nav
///////
nav.top-bar, nav.second-bar {
	z-index: 933;
	li a {
		font-family: $header-font-family;
		text-transform: uppercase;
	}
	.name h1 {
		text-align: left;
	}
	button, .button {
		height: 2.1rem;
		line-height: 1rem;
	}
	input {
		height: 2.1rem;
	}
	@media only screen and (max-width: 40em) {
		.top-bar .button, .top-bar button {
			top: 0;
		}
	}
	ul.dropdown, ul.dropdown li:last-child, ul.dropdown li:last-child > a {
		-webkit-border-bottom-left-radius: 1em;
		-moz-border-radius-bottomleft: 1em;
		border-bottom-left-radius: 1em;
		-webkit-border-bottom-right-radius: 1em;
		-moz-border-radius-bottomright: 1em;
		border-bottom-right-radius: 1em;
	}
	li.has-dropdown:hover, li.has-dropdown:hover a {
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-left-radius: 0;
	}
}

// Center Topbar
#primary-navigation {
	text-align: center;
	section.top-bar-section {
		display: table;
		margin: 0 auto;
		li {
			display: table-cell;
			&.back {
				display: none;
			}
		}
	}
}

// Sticky Topbar
.fixed {
	#primary-navigation {
		border-bottom: 2px solid $grey;
	}
}

// Secondary Nav
nav.second-bar {
	$second-bar-bg-color: $secondary-color;
	background: $second-bar-bg-color;
	margin-top: -$topbar-margin-bottom;
	margin-bottom: 0;
	width: 100%;
	z-index: 944;
	section.top-bar-section {
		li {
			background: $second-bar-bg-color;
		}
		li:not(.has-form)>a:not(.button) {
			background: $second-bar-bg-color;
			&:hover {
				background: scale-color($second-bar-bg-color, $lightness: -20%);
			}
		}
		li.active:not(.has-form)>a:not(.button) {
			background: scale-color($second-bar-bg-color, $lightness: -20%);
		}
		li:not(.has-form):not(.active)>a:not(.button) {
			background: $second-bar-bg-color;
			&:hover {
				background: scale-color($second-bar-bg-color, $lightness: -20%);
			}
		}
	}
}

// Nav Fill
.header-fill {
	background: $secondary-color;
	height: $topbar-height;
	line-height: $topbar-height;
	margin: 0 auto;
}

.middle.tab-bar-section {
	border-right: solid 1px scale-color($tabbar-bg, $lightness: 10%);
	h1 a {
		background: url(../img/logo-small.png);
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
		text-shadow: none;
		color: transparent;
	}

}

body.with-sidebar .middle.tab-bar-section {
	border-left: solid 1px scale-color($tabbar-bg, $lightness: 10%);
}

body.no-sidebar .tab-bar .left-small {
	@include hide;
}

.menu-button {
	display: inline-block;
	padding: .75em;
	background-color: $tabbar-bg;
	span { @include burger(23px, 3px, 5px, $topbar-menu-icon-color); }
	width: $tabbar-height;
	&.mobile {
		display: block;
		position: absolute;
		top: 5px;
		&.right-off-canvas-toggle {
			right: -5px;
		}
		&.left-off-canvas-toggle {
			left: -5px;
		}
		z-index: 966;
	}
}

.searchsubmit {
	background-color: $primary-color;
}

.move-left .right-off-canvas-toggle span, .move-right .left-off-canvas-toggle span {
	@include burger-to-cross;
}
@media #{$medium-up} {
	.left-off-canvas-toggle {
		@include hide;
	}
}

.right-off-canvas-menu, .left-off-canvas-menu {
	li.active a {
		background: $topbar-link-bg-active;
		color: $topbar-link-color-active;
		&:hover {
			background: $topbar-link-bg-active-hover;
			color: $topbar-link-color-active-hover;
		}
	}
}

.right-off-canvas-menu {
	.searchbar {
		margin-left: 5px;
		margin-right: 5px;
	}
	.searchsubmit {
		background-color: $secondary-color;
	}
	li.cart a {
		border-bottom: none !important;
	}
}

// Main
///////
#main {
	@include grid-column(12);
	padding-top: 1em;
	padding-left: 1rem;
	padding-right: 1rem;
  padding-bottom: 1rem;
}
//homepage styling
body.home {
	.inner-wrap {
		background: $grey;
	}
	#main {
		background: $grey;
		.entry-content {
			background: $white;
			padding-bottom: 1rem;
			padding-top: 1rem;
			.slick-slide, .small-6 img {
				border: 1px solid $tan;
			}
		}
	}
}
body.with-sidebar #main {
	@media #{$medium-up} {
		@include grid-column(8, $push:4, $float: left);
		padding-bottom: 20px;
		padding-right: 2rem;
	}
	@media #{$large-up} {
		@include grid-column(9, $push:3, $float: left);
		padding-right: 2rem;
	}
}

// Content
//////////
.hentry {
	&> header, &> .entry-content,.entry-summary, &> footer {
		@include grid-row;
	}
	header {
		h3 { }
	}
	.entry-summary, .entry-content {
		.entry-thumbnail {
			float: left;
			margin-right: 2rem;
		}
	}
	a:hover {
		text-decoration: underline;
	}
	footer {
		.meta-time { }
		.meta-categories { }
		.meta-images { }
		.meta-exif { }
		.meta-tags { }
		.meta-count { }
		.meta-comments { }
		.meta-edit {
			visibility: hidden;
		}
	}
	&:hover {
		.meta-edit {
			visibility: visible;
		}
	}
}

.hentry.excerpt {
	overflow: hidden;
}

// Post Formats
.hentry.excerpt {
	&.format-aside { }
	&.format-gallery { }
	&.format-image { }
	&.format-link { }
	&.format-page { }
	&.format-quote { }
	&.format-video { }
}

// Specific Article Types
.hentry.excerpt {
	&.post { }
	&.page { }
	&.attachment { }
	&.sticky { }
}

// Resources
// with thumbnails
body.tax-resource_category {
	.loop {
		@include block-grid(2);
		@media #{$medium-up} {
			@include block-grid(4);
		}
		@media #{$large-up} {
			@include block-grid(6);
		}
	}
}
.resource.has-post-thumbnail {
	figcaption {
		text-align: center;
	}
}

// Events
article.event {
	dt h5 {
		text-align: left;
	}
}
article.event.has-post-thumbnail {
	.section-content {
		@include grid-column($columns: 10, $push: 2);
	}
	.entry-thumbnail {
		@include grid-column($columns: 2, $pull: 10);
	}
}

// Articles
///////////
.hentry.single {}

// Post Formats
.hentry.single {
	&.format-aside { }
	&.format-gallery { }
	&.format-image { }
	&.format-link { }
	&.format-page { }
	&.format-quote { }
	&.format-video { }
}

// Specific Article Types
.hentry.single {
	&.post { }
	&.page { }
	&.attachment { }
	&.sticky { }
}

// Pages
////////
.hentry.page { }

// Content Elements
///////////////////
.mfp-bg {
	z-index: 955 !important;
}
.vnbx-mask, .mfp-wrap {
	z-index: 966 !important;
}
.gallery {
	.imge-link {
		img {
		}
	}
}

// Sitemap
//////////
.sitemap-type {
	@include grid-row;
	.sitemap-sub {
		@include grid-column(4);
	}
	h5, h6 {
		text-align: left;
	}
}

// Pagination
/////////////
ul.page-numbers {
	@include pagination(true);
}
#pagination {
	@include grid-row;
	padding: 20px 40px;
	.previous a, .next a { }
	.previous { }
	.next { }
}

// Discussion
/////////////
#discussion {
	@include grid-row;
	margin-top: 2em;
}
@media #{$medium-up} {
	#discussion #comments + #respond {
		@include grid-column(6, $float:left);
	}
	#discussion #comments {
		@include grid-column(6, $float:left);
	}
}

// Respond
//////////
#respond {
	h3#reply-title {
		font-size: $h5-font-size - $h5-font-reduction;
	}
	.logged-in-as {
		display: block;
		margin: 0;
	}
	a.logout {}
	textarea {
		min-height: 8em; // ~ 6 lines
	}
}

// Reply Form
ol #respond {
	@include panel;
	@include grid-column(12, $float:left, $pull:0);
}
@media #{$small-up} {
	ol #respond {
		@include grid-column(12, $float:left, $pull:0);
	}
	#wp-temp-form-div + #comments {
		@include grid-column(6, $push:0, $float:left);
	}
}
a#cancel-comment-reply-link {
	@include button($button-tny, $warning-color, false, false, true, true);
}
// Start with button disabled. Enable it through js when form is correctly filled out.
.form-submit #submit { @include button($button-med, $success-color, false, false, false, true); }

// Comments
///////////
#comments {
	header > h4 {
		font-size: $h5-font-size - $h5-font-reduction;
	}
}
ol.comment-list {
	@include unstyled;
	ol.comment {
		@include grid-column($offset:1, $collapse:null);
	}
}

li.comment {
	clear: both;
	figure.avatar {
		display: none; // hide-for-small
		a {
			@include thumb;
			line-height: 0;
			padding-bottom: 1px;
		}
	}
	&>header, &>section, &>footer {
		@include grid-column(12, $float: left);
	}
	.comment-author {
		cite {
			font-size: 2em;
			font-weight: bold;
			a {}
		}
		time a {}
	}
	section {	}
	footer {
		time {
			a {
				@include button($padding:$button-tny, $bg:$secondary-color, $radius:9999em);
				@include inset-shadow();
				@include single-transition(background-color);
			}
		}
	}
  a.comment-edit-link {
		@include button($button-tny, $info-color, false, false, true, true);
		float: right;
		z-index: 4;
	}
}

@media #{$small-up} {
	ol.comment-list ol.comment {
		@include grid-column($offset:2, $collapse:null);
	}
	li.comment {
		figure.avatar {
			@include grid-column(2, $float: left);
			display: inherit;
			margin-top: 4px;
			padding-right: 0;
			&~header, &~section, &~footer {
				@include grid-column(10, $float: right);
			}
		}
	}
}
// Show Reply/Edit Options on hover
@media #{$medium-up} {
	a.comment-edit-link, a.comment-reply-link {
		@include single-transition(opacity, .25s, linear);
		opacity: 0;
	}
}

li.comment:hover {
	&> footer {
		&> a.comment-edit-link, &>a.comment-reply-link {
			@include button($button-tny, $info-color, false, false, false, true);
			float: right;
			opacity: 1;
		}
	}
}

// Comment Striping
.comment-list > li.comment {
	 &.alt {}
	 &.odd {}
	 &.even {}
	 &.thread-alt {}
	 &.thread-even {}
	 ul.children .alt {}
	 ul.children .odd {}
	 ul.children .even {}
}

// Comment Threading
#comments {
	li.comment.depth-1 {}
	li.comment.depth-2 {}
	li.comment.depth-3 {}
	li.comment.depth-4 {}
	li.comment.depth-5 {}
}
// Specific Comment Types
#comments {
	ol.comment-list li.comment.byuser {/* User Comment */}
	ol.comment-list li.comment.bypostauthor {/* Author Comment */}
	ol.comment-list li.comment.comment-author-admin {/* Admin Comment */}
}

// Comment Content Styles
li.comment > section {
	a {}
	a:hover {}
	acronym {}
	blockquote {}
	b {}
	cite {}
	code {}
	del {}
	em {}
	i {}
	q {}
	strike {}
	strong {}
}

// Sidebars
///////////
.sidebar {
	@media #{$small-only} {
		@include off-canvas-menu(left);
		ul {
			@include off-canvas-list;
		}
	}
	@media #{$medium-up} {
		@include grid-column(4, $pull:8, $float: left);
		margin-top: 1rem;
		padding-bottom: 20px;

		// Widgets
		.widget {
			overflow: hidden;
			margin-bottom: 1em;
			ul {
				@include unstyled;
			}
			@include grid-column(12);
		}

	}
	@media #{$large-up} {
		@include grid-column(3, $pull:9, $float: left);
	}
}

#sidebar-default { }
#sidebar-home { }
#sidebar-single { }

.widget.ads {
	a {
		@include single-transition;
		border: 1px solid scale-color($secondary-color, $lightness: 40%);
		display: inline-block;
		opacity: 1;
		&:hover {
			border-color: $secondary-color;
			opacity: .8
		}
	}
}

// Footer
/////////
#footer {
	background: $primary-color;
	clear: both;
	display: table;
	font-family: $header-font-family;
	font-size: .8em;
	text-transform: uppercase;
	margin-top: 600px; // gets changed by .js
	text-align: center;
	width: 100%;
	.footer-content {
		background: $grey;
		border-bottom: 1px solid $secondary-color;
		border-top: 1px solid $secondary-color;
		margin: 0;
		padding: 20px 20px 10px 20px;
		width: 100%;
		a {
			color: $primary-color;
			&:hover {
				color: $white;
			}
		}
	}
	ul.menu {
		font-size: .8em;
		margin: 0 auto;
		padding: 20px 20px 10px 20px;
		li {
			display: inline;
			margin: 0 1rem;
		}
		a {
			color: $white;
			&:hover {

			}
		}
	}
}

@media #{$small-up} {
	#footer {
		.copyright, .inline-list {
			float: left;
		}
		.social {
			float: right;
		}
	}
}

.gallery {
	.gallery-item {
		&:hover {
			.gallery-buttons {
				bottom: 0px;
				position: absolute;
				visibility: visible;
			}
		}
		.image-link {

			img {
				border: 2px solid #fff;
			}
		}
		.gallery-buttons {
			position: absolute;
			visibility: hidden;
		}
	}
}
